<app-header></app-header>
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">

      <app-about-me></app-about-me>

      <app-latest-project></app-latest-project>

      <app-other-projects></app-other-projects><!--//section-->

      <app-work-experience></app-work-experience><!--//section-->

    </div>

    <div class="secondary col-md-4 col-sm-12 col-xs-12">

      <app-info></app-info>

      <app-skills></app-skills>

      <!--<app-testimonials></app-testimonials>-->

      <app-education></app-education>

      <app-language-known></app-language-known>

      <app-contect-me></app-contect-me>

    </div>

  </div>
</div>
<app-footer></app-footer>


