<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Love To Hear From You</h2>
    <div class="content">
      <form>
        <div class="form-group">
          <label for="txtEmailId">Email address</label>
          <input type="email" class="form-control" id="txtEmailId" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="txtMobileNo">Mobile No.</label>
          <input type="text" class="form-control" id="txtMobileNo" placeholder="Mobile No.">
        </div>
        <div class="form-group">
          <label for="txtDescription">Description</label>
          <textarea class="form-control" rows="5" id="txtDescription"></textarea>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div><!--//content-->
  </div><!--//section-inner-->
</section>
